<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Transact</servlet-name>
        <servlet-class>biz.trustpay.servlets.Transact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PricePoints</servlet-name>
        <servlet-class>biz.trustpay.servlets.PricePoints</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pay</servlet-name>
        <servlet-class>biz.trustpay.servlets.Pay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCbCode</servlet-name>
        <servlet-class>biz.trustpay.servlets.GetCbCode</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Transact</servlet-name>
        <url-pattern>/Transact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PricePoints</servlet-name>
        <url-pattern>/PricePoints</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pay</servlet-name>
        <url-pattern>/Pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCbCode</servlet-name>
        <url-pattern>/GetCbCode</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
